header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

#banner {
    width: 100%;
    margin: 5px 0;
}

.principal{
    width: 940px;
    margin: 10px auto;
    background: #ECF0F1;
    padding: 30px;
    box-sizing: border-box;
    border: 5px solid #283747;
    border-radius: 10px;
}

.titulo-centralizado {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

p {
    text-align: center;
    padding: 7px;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
    font-weight: bold;
}

.itens {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    padding: 5px 0;
}

.beneficios {
    width: 940px;
    background: #A2B2AD ;
    padding: 20px 0;
    margin: 10px auto;
    box-sizing: border-box;
    border: 5px solid #283747;
    border-radius: 10px;
}

.itens-beneficios{
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
    width: 30%;
    margin-left: 12.5%;
}

.imagembeneficios {
    width: 40%;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}